@import "reset.css";
html {
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.Place {
  width: 100vw;
  height: 100vh;
  display: flex;
  width: 100%;
}
.Place .placeleft {
  width: 100%;
  font-family: "Arial";
  color: #153DB3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 50px;
}
.Place .placeleft .placetitle {
  font-size: 70px;
  font-weight: 700;
  display: flex;
  width: 100%;
  text-align: left;
  flex-direction: column;
}
.Place .placeleft .placetitle a {
  width: 20%;
}
.Place .placeleft .placetitle a img {
  width: 100%;
}
.Place .placeleft .placesub .subbox {
  display: flex;
  align-items: center;
}
.Place .placeleft .placesub .subbox div {
  font-family: "Arial";
  color: #153DB3;
  font-size: 40px;
  font-weight: 700;
  padding-left: 30px;
}
.Place .placeleft .placebox {
  width: 450px;
  border: 3px solid #153DB3;
  border-radius: 20px;
  padding: 10px 10px;
  font-size: 20px;
}
.Place .placeleft .placebox .placeboder .placetop {
  font-family: "Arial";
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.Place .placeleft .placebox .placeboder .setbox {
  font-family: "Arial";
  font-weight: 500;
}
.Place .placeleft .placebox .placeboder .setbox .box01 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box01 .pad10 {
  padding-right: 82px;
}
.Place .placeleft .placebox .placeboder .setbox .box02 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box02 .pad10 {
  padding-right: 64px;
}
.Place .placeleft .placebox .placeboder .setbox .box03 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box03 .pad10 {
  padding-right: 82px;
}
.Place .placeleft .placebox .placeboder .setbox .box04 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box04 .pad10 {
  padding-right: 99px;
}
.Place .placeleft .placebox .placeboder .setbox .box05 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box05 .pad10 {
  padding-right: 82px;
}
.Place .placeleft .placebox .placeboder .setbox .box06 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box06 .pad10 {
  padding-right: 30px;
}
.Place .placeleft .placebox .placeboder .setbox .box07 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box07 .pad10 {
  padding-right: 82px;
}
.Place .placeleft .placebox .placeboder .setbox .box08 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box08 .pad10 {
  padding-right: 64px;
}
.Place .placeleft .placebox .placeboder .setbox .box09 {
  display: flex;
  justify-content: space-around;
}
.Place .placeleft .placebox .placeboder .setbox .box09 .pad10 {
  padding-right: 81px;
}
.Place .placeright {
  width: 100%;
}
.Place .placeright .rightbox {
  padding-top: 50px;
  width: 100%;
}
.Place .placeright .rightbox svg {
  margin: 0 auto;
  width: 70%;
}

.risebox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.risebox .risetext {
  width: 30%;
  font-size: 30px;
  font-weight: 700;
  font-family: "Arial";
  color: #153DB3;
}
.risebox .RollDiv {
  margin: 0 auto;
  width: 935px;
  height: 300px;
  border: 1px solid red;
  overflow: hidden;
}
.risebox .RollDiv div {
  overflow: hidden;
  height: 300px;
  width: 1200px;
}
.risebox .RollDiv div a {
  float: left;
  display: block;
}
.risebox .RollDiv div a img {
  width: 400px;
  height: 300px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.risebox .RollDiv div a p {
  font-size: 50px;
  font-weight: 700;
  color: white;
  z-index: 1;
}

path:hover {
  cursor: pointer;
  fill: #153DB3;
  opacity: 40%;
}/*# sourceMappingURL=Sights.css.map */